<h1>Create a new song!</h1>
<form action="/songs" method="POST">
    <label for="song[name]">Song name: </label>
    <input type="text" name="song[name]">
    <br>
    <label for="artist[name]">Artist name: </label>
    <input type="text" name="artist[name]">
    <br>
    <%@genres.each do |genre|%>
            <label for="song[genres][][id]"> <%=genre.name%>:</label>
            <input type="checkbox" name="genres[][id]" value="<%= genre.id %>">
            <br>
    <% end %>

    <input type="submit" id="Submit">
<form>
